@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using ZvadoHacks.Services

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@model ArticleDetailsModel

<style>
    .parallax {
        background-image: url("/Images/Original/@Model.ImageId");
        min-height: 900px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
</style>

<div class="article-details-container">
    <p class="h1 text-center">@Model.Heading</p>
    <p>Author: <span class="text-muted">@Model.Author</span></p>
    <div class="parallax"></div>
    <hr />
    <p>@Html.Raw(Model.Content)</p>
    @if (_signInManager.IsSignedIn(User))
    {
        <hr />

        <form asp-controller="Comment" asp-route-id="@Model.ArticleId" asp-action="Create" method="post">
            <input class="input-form" name="Content" type="text" />
            <input class="btn" style="background-color: #082E36; color:white; margin-left: 10px;" type="submit" value="Submit Comment"/>
        </form>
    }
    <hr />
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <div style="margin-bottom: 30px">
                    <img style="border-radius:6px" width="30" height="30" id="imagePreview" src="/Images/Thumbnail/@comment.ImageId" alt="click to set profile pic" />
                    <span style="margin-top: 10px;">@comment.Content</span>
                </div>

        }
    }
    else
    {
    <p>No comments!</p>
    }
</div>





